<h1>Welcome
  <%= session[:username] %>
</h1>

<!-- Area for displaying messages -->
<div id="message-area">
  <!-- If there are messages, display up to the last 12 -->
  <% if !(Message.all[0].nil?) %>
    <% messages = Message.last(12) %>
    <!-- Reverse the order so that the newest display at top -->
    <% messages.reverse.each do |message| %>
    <p><%="   - " + message.content + " :: " + (message.user).username + " -- " + message.created_at.strftime("%I:%M%p on %m/%d/%Y") %></p>
    <% end %>
  <% end %>
</div>

<!-- Area for allowing user message creation -->
<section id="user-input">

  <form action="/forum/post_message" method="get">
    <input type="submit" value="Post"/>
    <input id="message-field" type="text" name="content" placeholder="Enter your message here."/>
  </form>

</section>
