<h1>Private message</h1>

<form action="/forum/send_private_message" method="post">
  <%= flash[:alert] %>
  <label for="Username">Username</label>
  <input type="text" name="Username"/>
  <label for="Message">Message</label>
  <input type="text" name="Message"/>
  <input type="submit" value="Send"/>
</form>
