<div class="form-box">
  <div id="private-message-box">
    <h1>Send a private message</h1>

    <form action="/forum/send_private_message" method="post">
      <%= flash[:alert] %>
      <label for="Username">Recipient</label>
      <input type="text" name="Username"/>
      <label for="Message">Message</label>
      <input type="text" name="Message"/>
      <input type="submit" value="Send"/>
    </form>
  </div>
</div>
